@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1111px;
  width: 100%;
  margin: 0 auto;
}

.main {
  padding-top: 150px;
}

.header {
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 260px;
  font-weight: 600;
  font-size: 16.6331px;
  line-height: 25px;
  color: #C88F5F;
}
.header__logo p {
  margin-left: 12px;
}

.header__right {
  width: 815px;
  margin-left: auto;
  padding: 20px 0;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 66px;
  padding-bottom: 20px;
}

.header__map {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  margin-right: 46px;
}

.header__time {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
}

.header__phone {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
}
.header__phone .tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  margin-left: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__phone .tel:hover {
  color: #D5A64B;
}

.header__navbar {
  border-top: 1px solid #D5A64B;
  padding-top: 20px;
}
.header__navbar .ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.header__navbar .li {
  margin-left: 32px;
}
.header__navbar .item {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header__navbar .item:hover {
  color: #D5A64B;
}

.banner {
  height: 600px;
  overflow: hidden;
}
.banner .slick-prev, .banner .slick-next {
  height: 42px;
  max-width: 1111px;
  width: 100%;
  left: 50%;
  right: auto;
  top: 601px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
}
.banner .slick-prev::before, .banner .slick-next::before {
  content: "";
  width: 42px;
  height: 42px;
  border-radius: 3px;
  position: absolute;
  top: -300px;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.banner .slick-prev::before {
  left: 0;
  background: #3A2E25 url(../img/arrow-left.svg) no-repeat center;
}
.banner .slick-next::before {
  right: 0;
  background: #3A2E25 url(../img/arrow-rigth.svg) no-repeat center;
}
.banner .slick-prev:hover::before {
  background: #D5A64B url(../img/arrow-left-white.svg) no-repeat center;
}
.banner .slick-next:hover::before {
  background: #D5A64B url(../img/arrow-rigth-white.svg) no-repeat center;
}
.banner .slick-dots {
  bottom: 33px;
}
.banner .slick-dots li {
  width: 10px;
  height: 10px;
  background: #FAF2E7;
  opacity: 0.5;
  margin: 0 2px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.banner .slick-dots li button {
  display: none;
}
.banner .slick-dots li.slick-active {
  opacity: 1;
  background: #D5A64B;
}

.banner__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
}

.banner__h1 {
  max-width: 855px;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.banner__wrap.slick-active .banner__h1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.services {
  padding-top: 58px;
  padding-bottom: 40px;
}

.services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 55px;
}

.services__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
  height: 154px;
  background: #F2F2F2;
  border-radius: 3px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding-top: 21px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services__block .icon {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
.services__block .icon svg path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.services__block .title {
  max-width: 215px;
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #BD9575;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services__block:nth-child(3n) {
  margin-right: 0;
}

.services__block:hover {
  background: #D5A64B;
}
.services__block:hover .icon svg path {
  fill: #FFFFFF;
}
.services__block:hover .title {
  color: #FFFFFF;
}

.title_h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}
.title_h2 .h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #000000;
}
.title_h2 .link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.title_h2 .link:hover {
  color: #D5A64B;
}

.text_wrap {
  margin-bottom: 20px;
}

.text_main {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.news {
  padding: 60px 0 30px 0;
  background: #FAF2E7;
}

.news__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__block {
  width: 350px;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.news__block .img {
  height: 222px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}
.news__block .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.news__block .date {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 203px;
  left: 20px;
  padding: 7px 18px;
  background: #BD9575;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.news__block .content {
  padding: 41px 23px 20px 23px;
}
.news__block .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 16px;
}
.news__block .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.news__block:nth-child(3n) {
  margin-right: 0;
}

.news__block:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.request {
  padding: 60px 0;
  background: url(../img/request.png) no-repeat center/cover;
}
.request .title_h2 .h2 {
  color: #FFFFFF;
}
.request .input {
  max-width: 350px;
  margin-bottom: 20px;
}
.request .input input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
}
.request .input input:focus {
  border-color: #D5A64B;
}
.request .input input::-webkit-input-placeholder {
  color: #828282;
}
.request .input input::-moz-placeholder {
  color: #828282;
}
.request .input input:-ms-input-placeholder {
  color: #828282;
}
.request .input input::-ms-input-placeholder {
  color: #828282;
}
.request .input input::placeholder {
  color: #828282;
}
.request .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  position: relative;
}
.request .check input {
  min-width: 18px;
  width: 18px;
  height: 18px;
  margin-right: 9px;
  position: relative;
  z-index: -1;
  opacity: 0;
}
.request .check label {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}
.request .check label a {
  color: #FFFFFF;
}
.request .check label a:hover {
  text-decoration: underline;
}
.request .check label::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1.5px solid #FFFFFF;
  border-radius: 2px;
}
.request .check input:checked + label::after {
  background: #FFFFFF url(../img/check.svg) no-repeat;
  background-position: 1px 2px;
}
.request .btn {
  max-width: 350px;
  width: 100%;
  height: 50px;
  font-weight: 500;
  background: #D5A64B;
  border-radius: 5px;
  font-size: 17px;
  line-height: 32px;
  color: #FFFFFF;
  border: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.request .btn:hover {
  background: #BD9575;
}

.footer {
  background: #FFFFFF;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  padding-top: 44px;
  border-bottom: 1px solid #D5A64B;
}

.footer__map {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  margin-top: 22px;
  margin-left: 30px;
}

.footer__time {
  margin-top: 22px;
  margin-left: 87px;
}
.footer__time .p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  margin-bottom: 3px;
}
.footer__time .email {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__time .email:hover {
  color: #D5A64B;
}

.footer__phone {
  margin-top: 22px;
  margin-left: auto;
  text-align: right;
}
.footer__phone .p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
}
.footer__phone .tel {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3A2E25;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.footer__phone .tel:hover {
  color: #D5A64B;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 43px;
}
.footer__bottom .left {
  width: 660px;
}
.footer__bottom .left .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #262A37;
  opacity: 0.5;
}
.footer__bottom .left .link:hover {
  color: #D5A64B;
  opacity: 1;
}
.footer__bottom .left .copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #3A2E25;
  margin: 8px 0 12px 0;
}
.footer__bottom .left .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #262A37;
  opacity: 0.5;
}
.footer__bottom .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__bottom .right .link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin: 4px 0;
}
.footer__bottom .right .link:hover {
  color: #D5A64B;
}
.footer__bottom .right img {
  margin-left: 12px;
}

.header__burgir {
  display: none;
}

@media screen and (max-width: 1111px) {
  .container {
    padding: 0 18px;
  }
  section {
    display: none;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 76px;
    border-bottom: 1px solid #D5A64B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .header .container {
    padding: 0 29px 0 10px;
  }
  .main {
    padding-top: 76px;
  }
  .header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 76px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #FFFFFF;
    padding: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .header__right.active {
    height: calc(100% - 76px);
    overflow-y: auto;
  }
  .header__navbar {
    border: 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 0;
    padding-top: 16px;
    margin-bottom: 16px;
  }
  .header__navbar .ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__navbar .li {
    margin: 0;
    margin-bottom: 14px;
  }
  .header__navbar .item {
    padding: 10px 18px;
    font-size: 18px;
    line-height: 20px;
  }
  .header__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18px;
  }
  .header__map {
    margin: 0;
    margin-bottom: 8px;
  }
  .header__time {
    margin-bottom: 8px;
  }
  .header__phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
  .header__phone .tel {
    margin: 0;
  }
  .header__logo {
    width: auto;
    font-size: 10px;
    line-height: 13px;
  }
  .header__logo img {
    min-width: 35px;
    width: 35px;
  }
  .header__logo p {
    width: 94px;
    margin-left: 7px;
    padding-bottom: 2px;
  }
  .header__burgir {
    width: 34px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    padding: 6px 0;
    border: 0;
    background: transparent;
  }
  .header__burgir span {
    display: block;
    width: 100%;
    height: 3px;
    background: #BD9575;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 1px;
  }
  .header__burgir.active span:nth-child(2) {
    opacity: 0;
  }
  .header__burgir.active span:nth-child(1) {
    -webkit-transform: translateY(9.5px);
            transform: translateY(9.5px);
  }
  .header__burgir.active span:nth-child(3) {
    -webkit-transform: translateY(-9.5px);
            transform: translateY(-9.5px);
  }
  .header__burgir.rotate span:nth-child(1) {
    -webkit-transform: translateY(9.5px) rotate(45deg);
            transform: translateY(9.5px) rotate(45deg);
  }
  .header__burgir.rotate span:nth-child(3) {
    -webkit-transform: translateY(-9.5px) rotate(-45deg);
            transform: translateY(-9.5px) rotate(-45deg);
  }
  .footer .container {
    padding: 0;
  }
  .footer .header__logo {
    margin-bottom: 40px;
  }
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 18px 20px 18px;
  }
  .footer__map {
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__time {
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__phone {
    margin: 0;
    text-align: start;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 18px 40px 18px;
  }
  .footer__bottom .left {
    width: 100%;
    margin-bottom: 36px;
  }
  .footer__bottom .left .link {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__bottom .left .copy {
    max-width: 191px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    margin: 4px 0 16px 0;
  }
  .footer__bottom .left .text {
    font-size: 12px;
    line-height: 15px;
  }
  .footer__bottom .right {
    width: 100%;
  }
  .footer__bottom .right .link {
    font-size: 12px;
    line-height: 12px;
    margin: 9px 0;
  }
  .footer__bottom .right img {
    width: 61px;
    margin-left: 25px;
  }
  .banner {
    display: block;
    height: 456px;
  }
  .banner__block {
    height: 456px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 10px;
    padding-top: 150px;
  }
  .banner__h1 {
    max-width: 300px;
    width: 100%;
    text-align: start;
    font-size: 31px;
    line-height: 42px;
    margin: 0;
  }
  .banner .slick-prev, .banner .slick-next {
    top: 457px;
  }
  .banner .slick-prev::before, .banner .slick-next::before {
    top: -116px;
  }
  .banner .slick-next::before {
    right: 88px;
  }
  .banner .slick-prev::before {
    left: 88px;
  }
  .services {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .services__block {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .services__box {
    padding-bottom: 20px;
  }
  .title_h2 .h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .text_main {
    font-size: 16px;
    line-height: 22px;
  }
  .news {
    display: block;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .news .title_h2 {
    padding: 0 5px;
  }
  .news .container {
    padding: 0 5px;
  }
  .news__block {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
  .request {
    display: block;
    padding: 40px 0;
  }
  .request .check {
    margin-bottom: 20px;
  }
  .request .check label {
    max-width: 288px;
    width: 100%;
  }
  .request .check label::after {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}